body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

img {
    padding-top: 72px;
    margin-left: 136px;
    padding-bottom: 56px;
}

.container {
    width: 1430px;
    background-color: #1F2833;
    margin-left: 230px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.Choose__title {
    width: 329px;
    margin-left: 555px;
    margin-bottom: 32px;
    color: #FEFCF7;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;

}

.Choose__title-text {
    width: 540px;
    margin-left: 450px;
    margin-bottom: 86px;
    color: #FEFCF7;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;

}

.choose__list {
    display: flex;
    gap: 30px;
}

.choose__item:first-child {
    margin-left: 165px;
}

.choose__item {
    width: 350px;
    height: 450px;
    background-color: #0D8285;
    border-radius: 8px;
}

.Choose__plus {
    color: #FEFCF7;
    width: 255px;
    margin-left: 100px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;

}

.Choose__item-text {
    color: #FEFCF7;
    width: 255px;
    margin-left: 50px;
    margin-bottom: 48px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
}